head
  meta(charset='utf-8')
  title Tajam
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='/favicon.ico')
  meta(name='theme-color' content="#000000")
